# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# VS Code
.vscode/

# Virtual Environments
venv/
env/
ENV/
.env

# MacOS
.DS_Store

# Node / JS
node_modules/
dist/
dist-ssr/
*.local

# Logs
logs/
*.log

# Databases
*.sqlite3

# Frameworks / Tools
alembic/versions/*
!alembic/versions/.gitkeep
